body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background: #1f1f1f;
  color: white;
  font-family: 'Poppins';
}

#container {
  width: 100%;
  height: 100vh;
  margin-top: 100px;
}

.coffee-img {
  box-shadow: 0 12px 15px rgba(0,0,0,0.16), 0 12px 15px rgba(0,0,0,0.23);
}

.coffee-img:hover {
  cursor: pointer;
}

.one {
  width: 60%;
  position: absolute;
  left: 20%;
  height: 520px;
  background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
              url('../img/one.jpg');
  background-size: cover;
  background-position: center center;
}

.two,
.three,
.four {
  position: absolute;
  height: 520px;
  width: 60%;
  right: -35%;
  background-size: cover;
  -webkit-transform: scale(.6);
}

.two {
  background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
              url('../img/two.jpg');
  background-position: center center;
  background-size: cover;
  z-index: 3;
}

.three {
  z-index: 2;
  background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
              url('../img/three.jpg');
  background-size: cover;
  background-position: center center;
}

.four {
  z-index: 1;
  background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
              url('../img/four.jpg');
  background-size: cover;
  background-position: center center;
}

h3 {
  font-size: 64px;
  margin: 260px 0 0 60px;
  font-family: 'Roboto';
}

p {
  margin: 5px 0 0 76px;
  width: 75%;
  color: rgba(255, 255, 255, .85)
}

.adjust-margin {
  margin-left: 64px;
}


button {
  position: relative;
  overflow: hidden;
  height: 50px;
  z-index: 100;
  width: 162.656px;
  border: 1px solid rgba(255, 255, 255, .7);
  background: none;
  color: rgba(255, 255, 255, .9);
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 20px 0 0 76px;
  box-shadow: 0 24px 27px rgba(0,0,0,0.16), 0 24px 27px rgba(0,0,0,0.23);
}

.overlay {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  background: rgba(255, 255, 255, .9);
  height: 100px;
  width: 1px;
  overflow: hidden;
  transition: .3s ease all;
}

button:hover {
  cursor: pointer;
  color: #494949;
}

button:hover > .overlay {
  z-index: -1;
  visibility: visible;
  overflow: hidden;
  width: 100%;
  right: 0;
  transition: .3s ease all;
}

@media (max-width: 1096px) {
  #container {
    margin-top: 150px;
  }
  .coffee-img {
    height: 420px;
  }

  h3 {
    margin-top: 210px;
    font-size: 52px;
  }
}

@media (max-width: 902px) {
  .coffee-img {
    height: 420px;
  }

  h3 {
    margin-top: 210px;
    font-size: 38px;
  }
}

@media (max-width: 798px) {
  #container {
    margin-top: 50px;
  }

  .coffee-img {
    width: 60%;
    height: 300px;
    position: static;
    display: block;
    margin: 20px auto;
    transform: scale(1) !important;
  }

  h3 {
    font-size: 24px;
    margin: 0 auto;
    padding-top: 75px;
    padding-bottom: 20px;
    top: 50px;
    text-align: center;
  }

  p {
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
  }

  .btn-container {
    text-align: center;
    margin-top: 20px;
  }

  button {
    margin: 0 auto;
  }
}

@media (max-width: 632px) {
  h3 {
    padding-top: 25px;
    padding-bottom: 15px;
  }

  .coffee-img {
    transform: scale(1) !important;
    width: 75%;
    height: 240px;
  }
}
